---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../../components/BaseHead.astro';
import FormattedDate from '../../../components/FormattedDate.astro';
import GreyFilter from "../../../components/dashboard/GreyFilter.svelte";
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';
import getUserData from "../../../firebase/auth/getUserData";
import DashboardLayout from "../../../layouts/DashboardLayout.astro";



// verify user is signed in
const sessionCookie = Astro.cookies.get("session")?.value ?? null;
const user = await getUserData(sessionCookie);
if (!user) {
  return Astro.redirect("/signin");
}

// get posts from the premium blog collection
const posts = (await getCollection('premium_blog')).sort((a:any, b:any) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()).reverse();

const categories = posts.map((post:any) => post.data.category);
const uniqueCategories = [...new Set(categories)]; // remove duplicates
const categorizedPosts = uniqueCategories.map((category:any) => {
     return {
         category: category,
         posts: posts.filter((post:any) => post.data.category === category),
         name: category.charAt(0).toUpperCase() + category.slice(1),
     }
 });


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
			main {
				width: 960px;
				
			}
			section {
				margin-bottom: 2rem;
				z-index: 1;
				&:not(:first-child) {
					margin-top: 2rem;
				}
			}
			ul {
				display: flex;
				flex-direction: row;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: .5rem;
				overflow-x: scroll;
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

				::-webkit-scrollbar {
					width: 5px;
				}
				::-webkit-scrollbar-track {
					background: #f1f1f1;
					border-radius: 2rem;
				}
				::-webkit-scrollbar-thumb {
					background: #888;
					border-radius: 10px;

				}

				/* Styles for Firefox */
				::-moz-scrollbar {
					width: 12px;
				}

				::-moz-scrollbar-track {
					background: #f1f1f1;
					border-radius: 10px;
				}
				::-moz-scrollbar-thumb {
					background: #888;
					border-radius: 10px;
				}
				/* Styles for IE and Edge */
				::-ms-scrollbar {
					width: 5px;
				}
				::-ms-scrollbar-track {
					background: #f1f1f1;
					border-radius: 10px;
				}
				::-ms-scrollbar-thumb {
					background: #888;
					border-radius: 10px;
				}

			}
			ul li {
				min-width: calc(50% - 1rem);
				* {
				text-decoration: none;
				transition: 0.2s ease;
				}
				img {
					margin-bottom: 0.5rem;
					border-radius: 12px;
				}
				a {
				display: block;
				}
			}
			ul li 
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a{
				&:hover {
					.title {
						color: rgb(var(--accent));
					}
					.date {
					color: rgb(var(--accent));
					}
				}
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			.visible {
				display: block;
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
					font-size: 1rem;
					li {
						width: 100%;
						text-align: center;

						.title {
							font-size: 1rem;
						}

						img {
							width: 100%;
						}
					}
				}
			}
		</style>
	</head>
	<DashboardLayout title="Courses - LearnBetter!" description ="Discover new course and revisit old ones, there's always something to learn.">
		<div id="courses">
			<div>
				<p>Welcome back, {user.displayName}!</p>
				<p>Here are some of the latest posts from the premium blog:</p>
			</div>
			<div>
				
				<section id="course_section">
					<h2>Latest Posts</h2>
					<ul>
						{
							posts.map((post:any) => (
								
								<li>
									<a href={`/dashboard/premium_blog/${post.slug}/`}>
										<GreyFilter uid={user.uid} currentLessonTitle={post.data.title} client:only>
										<img width={720} height={360} src={post.data.heroImage} alt="" />
										</GreyFilter>
										<h5 class="title">{post.data.title}</h5>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</div>

		{ categorizedPosts.length > 0 ? (
			<div>
				{categorizedPosts.map((category:any, index) => (
					<section id={`category_${index}_section`}>
						<h3>{category.name} 
							<a href={`/dashboard/categorical_tags/${category.name}`}>
								<span class="folder-wrapper" style="font-size: .75rem;" > 
								<Image src="/icons/utils/folder-more.svg" alt="View category" width="24" height="24" />
								</span>
							</a>
						</h3>
						
						<ul class = {category.name}>
							{category.posts.map((post:any) => (
								<li>
								<a href={`/dashboard/premium_blog/${post.slug}`}>
									<GreyFilter uid={user.uid} currentLessonTitle={post.data.title}  client:only>
									<img width={720} height={360} src={post.data.heroImage} alt={`${post.data.title} image`} />
									</GreyFilter>
									<h5 class="title">{post.data.title}</h5>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
										
									</p>
								</a>
							</li>
							))}
						</ul>
					</section>
					))}
			</div>
		
			) : <p>No categories found</p> }
		</div>
		
	</DashboardLayout>
</html>


