---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HeaderLink from '../components/HeaderLink.astro';
import SiteName from '../components/SiteName.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

//section to update the newest articles
const updates = {
	articles: [
		{
			title: "Concentration",
			link: "/blog/concentration-1/"
		},
		{
			title: "Finding your study method",
			link: "/blog/finding-your-study-method-1/"
		},
		{
			title: "Finding your study method: Beyond The Book",
			link: "/blog/finding-your-study-method-2/"
		},
		{
			title: "Tackling long form questions in exam/test.",
			link: "/blog/tackling-long-form-questions/"
		}
	]
}
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <main>
			<header>
				<h1><SiteName /></h1>
				<p>The only way to get better is to start acting better!</p>
			</header>
		
			<section>
				<h2>What's New</h2>
				<ul>
					<h3>Newest Articles</h3>
					<ul>
						{updates.articles.map((article) =>(
							<li><a href={article.link}>{article.title}</a></li>
						)) }
					</ul>

					<h3>New Features</h3>
					<ul>
						<li>We've added the <b>"Newest Articles"</b> sector above to make navigating to new articles easier from the landing page. Click on a links to read the content.</li>
						<li>The <b>"Newest Features"</b> section contains updates on the recently added features to enhance your experience on the website.</li>
						<li>The <b>"Long-Term Goals"</b> section outlines our planned updates over a period of 3 to 12 months. Click on the links learn more about upcoming enhancements to your favourite website!</li>
					</ul>
				</ul>
			</section>
		
			<section>
				<h2>Long Term Goals</h2>
				<ul>
					<li>Making the site an interactive Platform(3-8 months plan)</li>
					<li>Adding Communities to allow interaction between users(6 - 12 months plan) </li>
				</ul>
			</section>
		
			<section>
				<h2>Testimonials</h2>
				<blockquote>
					<p>(No Testimonials yet, project is still in its early launch)</p>
				</blockquote>
				
			</section>
		
			<section>
				<h2>Get better Today!</h2>
				<p>Ready to direct your efforts towards meaningful change? Explore our <span><HeaderLink href="/blog">blog</HeaderLink></span>, and stay tuned for our upcoming content. We here to support you, offering practical guidance for your journey to personal growth. Be part a of LearnBetter!—where potential meets practicality.</p>
			</section>
			
			<section >
				<h2>Get in Touch</h2>
				<p>Have a question or comment? We’d love to hear from you. Send us a message and we’ll respond as soon as possible.</p>
				<p>Please <b>review</b> our content at <a href="mailto:lapanemaela140403@gmail.com">learnbetter!review@gmail.com</a></p>
				<p>For general inquiries, please email <a href="mailto:lapanemaela140403@gmail.com">learnbetter!inquiries@gmail.com</a></p>
			</section>
        </main>
        <Footer />
    </body>
</html>

<style lang="scss">
	span {
		background-color: rgba(78, 175, 255, 0.3);
		border-radius: 0.5em;
		padding: 0rem 0.5rem;
		a {
			text-decoration: none;
			color: #333;
			
		}
		&:hover {
			background-color: rgba(78, 175, 255, 0.8);
		}

	}	
	section:nth-last-child(1) a {
		
		color: black;
		background-color: rgba(78, 175, 255, 0.3);
		border-radius: 0.5em;
		padding: 0.3rem 0.5rem;

		&:hover {
			background-color: rgba(78, 175, 255, 0.8);
		}
	}

</style>
