---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import "../../styles/global.scss";

import Card from '../../components/svelte/Card.svelte';
import Carousel from '../../components/svelte/Carousel.svelte';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).reverse();
const categories = posts.map((post:any) => post.data.category);
const uniqueCategories = [...new Set(categories)]; // remove duplicates
const categorizedPosts = uniqueCategories.map((category:any) => {
     return {
         category: category,
         posts: posts.filter((post:any) => post.data.category === category),
         name: category.charAt(0).toUpperCase() + category.slice(1),
     }
 });

 
---

<!doctype html>
<html lang="en">
	<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<style lang="scss">
	main {
		width: 960px;

	}
	section {
		margin-bottom: 2rem;
		z-index: 1;
		max-height: fit-content;
				
	}
	
	.filter a {
		text-decoration: none;
		color: inherit;
		display: flex;
		align-self: end;	
	}
	.filter a:hover {
		text-decoration: underline;
		color: var(--accent);
	}
	.dark .filter a:hover {
		text-decoration: underline;
		color: var(--dark-mode-link-hover);
	}
			
	.filter {
		display: flex;
		flex-direction: column;
	}	
		</style>
	</head>
	<body>
		<Header />
		<main>
			
			<div class="filter">
				<!-- <Search /> -->
				
				<a href="/page/tags/">
				<svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="filter-p"/>
					<path d="M7 12L17 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="filter-p"/>
					<path d="M11 17H13" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="filter-p"/>
				</svg>
					Filter posts<a/>
			</div><br/>
			
			<div id="courses">
				<div>
					<section id="course_section" class="carousel_wrapper">
						<h2>Latest Posts</h2>
						
						<Carousel client:load>
							{
								posts.map((post:any) => (
									<Card post={post} transition:name={`${post.data.title}`}/>
								))
							}

						</Carousel>
					</section>
				</div>
			{ categorizedPosts.length > 0 ? (
				<div class="categories">
					{categorizedPosts.map((category:any, index) => (
						<section id={`category_${index}_section`} class="carousel_wrapper">
							<h3> 
								<a href={`/page/${category.name}/1`} class="category-name">
									
									<Image 
									src={`/${category.name}-category-img.png`} 
									width={720} height={360} 
									alt={`${category.name}`} 
									class={'category-img'}
									loading={"lazy"}
									transition:name={`/${category.name}-category-img.png`}/>

								</a>
							</h3>
							
							
							<div id="playlist" class="carousel_content" style="margin-top: -1rem;  position: relative; left: .5rem; font-size: 1rem;">
								<p>Title: <strong>{category.name}</strong> </p>
								<p style="transform: translateY(-.9rem);">Description: </p>
								<p style="transform: translateY(.9rem);">Number of lessons: {category.posts.length} </p>
								<p>Last updated: </p>
								
								<p style="transform: translateY(-.9rem);"> Authors: @E.L Maela ( add to frontmatter of each post)</p>


								
							</div>
						</section>
						))}
				</div>
			
				) : <p>No categories found</p> }
			</div>
		</main>
		<Footer />
	</body>
</html>


<style lang="scss">
	.categories {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;


		
		
		.carousel_wrapper {
			display: flex;
			flex-direction: column;
			border-radius: 1rem;
			background: inherit;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
			transition: all .3s;
			&:hover {
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
				transform: scale(1.05);
			}
			.category-img {
				border-bottom-left-radius: 0%;
				border-bottom-right-radius: 0%;
			}
			

			#playlist {
				
				display: block;
				
				
				li {
					padding: 0;
					margin: -1rem;

					
				}
			}
			
		}
	}
	

	.category-name {
		color: inherit; 
		text-decoration: none;
		&:hover {
			color: var(--accent);
		}
	}

	
</style>




