---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/global.scss";
const allPosts = await getCollection('blog')
const tags =[...new Set(allPosts.map((post) => post.data.tags).flat())].sort();
const colorOpacity = 0.3;

const colors:any = {
    'Personal development': `rgba(53, 55, 75, ${colorOpacity})`,   // yellow
    'Alter ego': `rgba(255, 0, 0, ${colorOpacity})`,               // red
    'Role model': `rgba(0, 0, 255, ${colorOpacity})`,              // blue
    'Guidance': `rgba(80, 114, 123, ${colorOpacity})`,                // green
    'Mentorship': `rgba(255, 165, 0, ${colorOpacity})`,            // orange
    'Critical thinking': `rgba(138, 43, 226, ${colorOpacity})`,    // violet
    'Self awareness': `rgba(128, 0, 128, ${colorOpacity})`,        // purple
    'concentration': `rgba(173, 216, 230, ${colorOpacity})`,       // lightblue
    'Discipline': `rgba(128, 128, 128, ${colorOpacity})`,          // grey
    'Learning': `rgba(255, 192, 203, ${colorOpacity})`,            // pink
    'Study': `rgba(255, 0, 255, ${colorOpacity})`,                 // magenta
    'Exam and test': `rgba(120, 160, 131, ${colorOpacity})`           // brown
};


---
<Layout
 title="Tags page"
 data-pagefind-ignore="all"
 
>
  <section class="container" data-pagefind-ignore="all">
    
      
    
    <p>Pick a topic:</p>
    <ul >
      {tags && tags.map((tag) => (
        
          <a href={`/page/tags/${tag}`} data-pagefind-ignore="all"><li>{tag}</li></a>
        
      ))}
    </ul>
  </section>
  <sectioin>
    <p>Some blog posts may appear when selecting two different filters. This is because the topics are discussed/used in the post.</p>
  </sectioin>
</Layout>
  <style lang="scss">
    .container {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;

      /* Custom scrollbar for Chrome, Safari and Opera */
     


    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style:none;
      scroll-behavior: smooth;
    }
    li {
      margin: 0 0.5rem 0.5rem 0;
      padding: 0rem 0.5rem;
      border-radius: 0.5rem;
      min-width: max-content;
      background-color: rgba(78, 175, 255, 0.3);
      display: inline-block;

      &:hover {
        background-color: rgba(78, 175, 255, 0.5);
      }
    }
    a {
      text-decoration: none;
      color: var(--color-text);
    }
    p {
      margin-right: 1rem;
    }
//       &::-webkit-scrollbar {
//         width: 0.5rem;
//     }

//     &::-webkit-scrollbar-track {
//         background: #f1f1f1;
//     }

//     &::-webkit-scrollbar-thumb {
//         background: #888;
//         border-radius: 1rem;
//     }

//     &::-webkit-scrollbar-thumb:hover {
//         background: #555;
//     }

//     /* For Firefox */
//     scrollbar-width: thin;
//     scrollbar-color: #888888 #f1f1f1;
// }

// /* For IE and Edge */
// @supports (-ms-overflow-style: none) {
//     ul {
//         scrollbar-width: thin;
//         scrollbar-color: #888 #f1f1f1;
//     }
// }

// @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
//     ul {
//         scrollbar-width: thin;
//         scrollbar-color: #888 #f1f1f1;
//     }
// }
    
  </style>